.form__select {
    margin-block: 1rem;

    & > * {
        cursor: pointer;
        transition: transform 250ms;

        img {
            opacity: .25;
            transition: opacity 250ms, transform 250ms;
        }

        input {
            display: none;
        }

        &:has(input:checked) {
            img {
                opacity: 1;
            }
        }

        &:active {
            transform: scale(0.9) translateY(1rem);
        }
    }
}

@media (hover: hover) and (pointer: fine) {
    .form__select > label:hover {
        img {
          opacity: 1;
        }
    }
}

.weapons, .legends {
    display: flex;
    gap: .25rem;
    flex-flow: row wrap;
    justify-content: center;

    & > * {
        width: clamp(5%, 5rem, 25%);
        aspect-ratio: 1/1;

        img {
            width: 100%;
        }
    }
}

.patch__form {
    display: flex;
}