html {
    height: 100%;
}

body {
    height: 100%;
    background: url('/static/background.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

header {
    padding: calc(clamp(40px, 2.5vw, 48px) + 2rem) 5vw 2rem 5vw;
    display: flex;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-items: center;

    img {
        margin-left: auto;
        width: $font-size-xl;
        height: $font-size-xl;
    }
}

section {
    margin: 0 auto;
    width: clamp(320px, 60%, 100%);
    padding-block: 2rem;
}

.filler {
    margin: 0;
    padding: 0;
    flex-grow: 1;
}


main {
    flex-grow: 1;
    display: flex;
    background-color: $color-base;
    flex-direction: column;
}