$color-base: rgba(0, 0, 0, .9);
$color-flat: #494949;
$color-primary: #5779a2;
$color-primary-light: #7097c1;
$color-primary-dark: #2e3f53;
$color-text: #ffffff;
$color-text-dark: #acacac;
$font-size-xxl: clamp(20px, 10vw, 120px);
$font-size-xl: clamp(32px, 5vw, 96px);
$font-size-lg: clamp(40px, 2.5vw, 48px);
$font-size-md: clamp(20px, 2vw, 40px);
$font-size-sm: clamp(20px, 1.5vw, 40px);
$font-size-xs: clamp(20px, 1vw, 20px);