{% extends 'base.html' %}

{% block embeds %}
<meta property="og:title" content="{{ combo }}"/>
<meta property="og:description" content="Usability: {{ combo.usability }} | Damage Range: {% if combo.stop_damage %}{{ combo.start_damage }}-{{ combo.stop_damage }}{% else %}{{ combo.start_damage }}+{% endif %} | Dexterity: {{ combo.dexterity_display }} | Average Damage: {{ combo.average_damage }}"
<meta property="og:url" content="https://BrawlDatabase.com/combos/{{ combo.pk }}/"/>
<meta property="og:video:url" content="https://www.BrawlDatabase.com/media/{{ combo.video.name }}"/>
<meta property="og:video:type" content=video/mp4>
<meta property="og:type" content="video">
<meta property="og:video:secure_url" content="https://www.BrawlDatabase.com/media/{{ combo.video.name }}">
<meta property="og:video:height" content="720">
<meta property="og:video:width" content="1280">
{% endblock embeds %}

{% block header %}
<div class="combo--viewer__header">
    <img src="{{ combo.weapon.icon }}">
    <h1>{{ combo.html_title|safe }}</h1>
</div>
{% endblock header %}

{% block content %}
<section class="combo--viewer">
    <div class="combo--viewer__information">
        <div>
            <img src="/static/usability.png">
            <p style="color: {{ combo.usability_color }};"><b>{{ combo.usability }}</b></p>
        </div>
        <div>
            <img src="/static/damage.png">
            {% if combo.stop_damage %}
            <p><b><span style="color: {{ combo.start_damage_color }};">{{ combo.start_damage }}</span> - <span style="color: {{ combo.stop_damage_color }};">{{ combo.stop_damage }}</span></b></p>
            {% else %}
            <p style="color: {{ combo.start_damage_color }};">{{ combo.start_damage }}+</p>
            {% endif %}
        </div>
        <div>
            <img src="/static/dexterity.png">
            <p><b>{{ combo.dexterity_display }}</b></p>
        </div>
        <div>
            <img src="/static/average_damage.png">
            <p><b>{{ combo.average_damage }}</b></p>
        </div>
    </div>
    <video playsinline controls>
        <source src="{{ combo.video.url }}">
    </video>
    {% if patches %}
    <h2>History</h2>
    {% for patch in patches %}
    <div class="change">
        <h3>Patch {{ patch.number }}</h3>
        {% for change in patch.combo_changes %}
        <ul>
            {% if change.type == 'outdated' %}
            <li>Now outdated</li>
            {% elif change.type == 'working' %}
            <li>No longer outdated</li>
            {% else %}
            <li>{{ change.type_pretty }}: {{ change.from_value }} to {{ change.to_value }}</li>
            {% endif %}
        </ul>
        {% endfor %}
    </div>
    {% endfor %}
    {% endif %}
</section>
{% endblock content %}